
@{
    ViewBag.Title = "Candidatos";
}

<div class="col-lg-12">
    <h2 class="page-header">Listado de Candidatos </h2>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td></td>
        </tr>
    </tbody>
</table>
